# Lid
system_public_prop(lid_disable_prop)

# PIHooks
system_public_prop(pih_disable_prop)

# Tethering
system_internal_prop(device_config_tethering_prop)

# USB
system_vendor_config_prop(usb_uvc_config_prop)
